.body {
    background-color:#CD59CF ;
}

.switcher-container {
    background-color: #FFFFFF;
    width: 110px;
    height: 64px;
    border-radius: 20px;
    margin-left: 85px;
    margin-top: 9px; 
    display: flex;
    align-items: center;
    justify-content: center;

}

.timer-container {
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 470px;
    height: 400px;
    margin-top: 32px;
    margin-left: 85px;
    display: flex;
    flex-direction: column;

    
}

.switcher-timer {
    width: 32px;
    height: 32px;
    padding-right: 13px;
}

.switcher-clock {
    width: 32px;
    height: 32px;

}

.timer-text_container {
    padding-left: 48px;
    padding-right: 32px;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.timer-text {
    font-weight: 700;
    font-size: 20px;
    font-style: Bold;
    margin-top: 0;
    margin-bottom: 0;
}

.timer-reset {
    font-size: 16px;
    color: #FF0000A3;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    border: none;
    font: inherit;
    background-color: transparent;
}



.timer-title {
    font-size: 20px;
    font-weight: 700;
    margin-top: 114px;
    text-align: center;
}

.timer-input {
    width: 105px;
    height: 34px;
    border-radius: 4px;
    border: none;
    text-align: center;
    background-color: #ECE7E7;
    align-self: center;
    font-size: 30px;
    line-height: 100%;
    margin-top: 24px;
    color: #6A6A6A70;
}

.timer-start {
    margin-top: 24px;
    padding: 4px 7px; 
    color: #FF0000A3;
    background-color: #ECE7E7;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
